body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.is-primary-bg {
  background-color: darkorange;
}

.logo {
  border-radius: 25px;
}

:focus {
  outline: none !important;
  border-color: darkorange !important;
  box-shadow: 0 0 10px darkorange !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: orange; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 0.5px solid rgb(226, 225, 222); /* creates padding around scroll thumb */
}
